{% extends 'base.html.twig' %}

{% block title %}Edition client{% endblock %}

{% block body %}
    <h1>Modifier un client</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'MODIFIER'}) }}

    <a href="{{ path('customer_index') }}">Revenir à la liste</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
